@using System.Web.Optimization;

@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}
@Styles.Render("~/Content/KoGrid.css")
@Styles.Render("~/Content/budget.css")
@Styles.Render("~/Content/pikaday.css")


@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/koGrid")
@Scripts.Render("~/bundles/koValidation")
@Scripts.Render("~/Scripts/budget.js")
@Scripts.Render("~/Scripts/moment.js")
@Scripts.Render("~/Scripts/pikaday.js")

<form class="form" style="margin: 10px;" data-bind="submit: addNewTransaction">
    <div class="form-group" data-bind="validationElement: date">
        <input type="text" class="form-control" id="datepicker" data-bind="value: date, valueUpdate: 'blur'" placeholder="Dátum" />
    </div>
    <div class="form-group" data-bind="validationElement: amount">
        <input type="text" class="form-control" id="amount" data-bind="value: amount, valueUpdate: 'blur'" placeholder="Összeg" />
    </div>
    <div class="form-group" data-bind="validationElement: reason">
        <input type="text" class="form-control" id="reason" data-bind="value: reason, valueUpdate: 'blur'" placeholder="Megnevezés" />
    </div>
    <div class="form-group">
        <select class="form-control" data-bind="options: categories,
                                                optionsText: 'name',
                                                optionsCaption: 'Válassz...',
                                                value: category"></select>
    </div>

    <button type="submit" class="btn btn-default">Hozzáadás</button>
</form>
<div id="loadingLabel">Adatok betöltése...</div>
<div class="gridStyle" data-bind="koGrid: gridOptions" id="budgetGrid">
</div>

<script>
    var picker = new Pikaday({
        field: document.getElementById("datepicker"),
        firstDay: 1,
        format: 'YYYY-MM-DD'
    });
</script>